h1::before {
    content: "-";
}

h1::after {
    content: "-";
}

h4::before {
    content: "-";
}

h4::after {
    content: "-";
}

.tel {
    transition: all .2s ease-in-out;
}

.tel:hover {
    transform: scale(1.1);
    text-decoration: none;
    font-weight: bold;
}

.social {
    transition: all .2s ease-in-out;
}

.social:hover {
    transform: scale(1.1);
}

img {
    object-fit: scale-down;
}