header {
    margin-bottom: 20px;
}

.masection {
    width: 100%;
    padding: 10px;
    margin: auto;
}

ul {
    padding-inline-start: 0px;
}

ul li {
    list-style: none;
}

iframe {
    height: 300px;
}


/* DESCRIPTION */

#description {
    margin: 2px;
    border-radius: 5px;
}


/* TITRE DESCRIPTION avec fond clavier et dégradé vert */

#h2desc {
    border-radius: 5px;
    background-image: linear-gradient(rgb(186, 233, 179), rgba(255, 255, 0, 0.5)), url("../img/clavier.png");
    text-shadow: 1px 1px 2px black, 0 0 1em green, 0 0 0.2em blue;
    color: white;
}

#titleh2 {
    text-shadow: 1px 1px 2px black, 0 0 1em green, 0 0 0.2em blue;
    color: white;
    text-align: center;
}

#contact {
    text-align: center;
}


/* desktop */

@media(min-width:641px) {
    .montitre {
        font-size: 2em;
        margin-bottom: 2px;
        text-shadow: 1px 1px 2px black, 0 0 1em green, 0 0 0.2em blue;
        color: white;
        text-align: center;
    }
    /* le LOGO en haut à droite */
    #logo {
        width: 50%;
        border-radius: 100%;
    }
    .mark {
        width: 2vw;
    }
    .logo {
        width: 4vw;
    }
}


/* mobile */

@media(max-width:640px) {
    .montitre {
        font-size: 1.5em;
        margin-bottom: 2px;
        text-shadow: 1px 1px 2px black, 0 0 1em green, 0 0 0.2em blue;
        color: white;
        text-align: center;
    }
    /* le LOGO en haut à droite */
    #logo {
        width: 100%;
        border-radius: 100%;
    }
    .logo {
        height: 4vw;
    }
    .mark {
        height: 4vw;
    }
}


/* ARTICLE : DESCRIPTION */

#pdesc {
    margin: 2px;
    border-radius: 5px;
    line-height: 1.2;
}

footer {
    text-align: center;
    border-radius: 1em;
}


/* ligne de séparation entre titre Pour me contacter et formulaire */

.separation {
    width: 66%;
    height: 1px;
    background-color: #00060F;
    margin-bottom: 0.5em;
}